.moviePanel {
  height: 250px; /* need for carousel, adjustable as percentage */
  text-align: center;
  position: static;
  margin: 0 auto;
  align-items: center;
}

.img {
  border: 2px solid white;
}

.img:hover + .details,
.details:hover {
  /* need for carousel */
  display: block; /* need for carousel */
  width: 300px; /* need for carousel */
  z-index: 2; /* need for carousel */
  background-color: #3b3b41e9;
  margin: auto;
  border: 2px solid white;
}

.details {
  box-shadow: 1px -4px 10px rgba(50, 50, 50, 0.75);
  transform: translateY(-150px);
  position: absolute; /* need for carousel */
  text-align: start;
  display: none;
  margin: 0;
  height: fit-content;
  width: inherit;
  padding-top: 15px;
  color: #ffffff;
}
label {
  color: #ffffff;
}

label {
  font-weight: bold;
}

#descStyle {
  background-color: #3b3b41a6;
  width: 95%;
  height: 95%;
  margin: auto;
}

.cover {
  margin: auto;
  opacity: 0.7;
}
